<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Segmentation App</title>

    <!-- CSS LINK (VERY IMPORTANT) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Customer Segmentation</h1>
    <p class="subtitle">ML Model Deployment using Flask & K-Means</p>

    <form method="POST">
        <input type="number" step="any" name="orders" placeholder="Number of Orders" required>
        <input type="number" step="any" name="quantity" placeholder="Total Quantity" required>
        <input type="number" step="any" name="spending" placeholder="Total Spending" required>
        <button type="submit">Predict Customer Type</button>
    </form>

    {% if result %}
        <div class="result">
            <h2>Prediction Result</h2>
            <p>{{ result }}</p>
        </div>
    {% endif %}
</div>

</body>
</html>
